# Copy into /etc/systemd/system , then enable using
# systemctl enable getcharts_gather

[Service]
User=jakob
ExecStart=/home/jakob/public_html/nuetzlich.net/getcharts/gather_loop.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
